input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
 {
    -webkit-appearance: none;
    margin: 0;
}
 input[type='number']{
    -moz-appearance: textfield;
}

.registerPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.fullName,.email, .phoneNumber,.address,.password,.confirmPassword{
    margin-bottom: 2px;
    padding: 2px 5px;
    border-radius: 4px;
}
input{
    font-size: 11px;
    margin-top: 0.2px;
}
.error{
    font-size: small;
    color: red;
}
.register .profile{
    text-align: center;
}
.register{
    background-color: white;
    width: 300px;
    border-radius: 4px;
    box-shadow: inset;
}
.registerBtn{
    display: flex;
    justify-content: center;
}
.registerPage{
    padding: 5px 8px;
}
.registerForm{
    padding: 5px 10px;
}
.showPass{
    margin-left: 5px;
    cursor: pointer;
    font-size: small;
}
.registerBtn button{
    width: 100%;
    margin-top: 20px;
    border-radius: 4px;
    border: none;
    background-color: #b7b7b7;
    margin-bottom: 4px;
    padding: 4px 5px;
    cursor: pointer;
}
.registerBtn button:hover{
    background-color: rgb(229, 229, 229);
    
}
.email input{
    width: 210px;
}